
*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

main{ 
    background-color: red;
    } 

#topo{ 
    background-color: rgb(214, 208, 208);
    color: white; 
    margin-bottom: 50px;
    padding: 110px;
    padding-top: 110px;
   
}

.bloco{
    background-color: green;
    border: 20px solid red;
    margin: 50px;
    ;
}   

#fim{
    background-color: rgb(150, 148, 148);
    color: white; 
    padding: 50px 50px; 
}




